#This file serves to ignore files i don't want to keep track of
/MyProjects/DotNet/Correction_ExamenDotNetINFOB_2018_2019/ExamInfoB/ExamInfoB.Service/bin
/MyProjects/DotNet/Correction_ExamenDotNetINFOB_2018_2019/ExamInfoB/ExamInfoB.Service/obj
/MyProjects/DotNet/Correction_ExamenDotNetINFOB_2018_2019/ExamInfoB/ExamInfoB.Presentation/bin
/MyProjects/DotNet/Correction_ExamenDotNetINFOB_2018_2019/ExamInfoB/ExamInfoB.Presentation\/bj
/MyProjects/DotNet/Correction_ExamenDotNetINFOB_2018_2019/ExamInfoB/ExamInfoB.Domain/bin
/MyProjects/DotNet/Correction_ExamenDotNetINFOB_2018_2019/ExamInfoB/ExamInfoB.Domain/obj
/MyProjects/DotNet/Correction_ExamenDotNetINFOB_2018_2019/ExamInfoB/ExamInfoB.Data/bin
/MyProjects/DotNet/Correction_ExamenDotNetINFOB_2018_2019/ExamInfoB/ExamInfoB.Data/obj
/MyProjects/DotNet/TemplateForDotNetProject/ExamenFinal/ExamenFinal.Data/bin
/MyProjects/DotNet/TemplateForDotNetProject/ExamenFinal/ExamenFinal.Data/obj
/MyProjects/DotNet/TemplateForDotNetProject/ExamenFinal/ExamenFinal.Domain/bin
/MyProjects/DotNet/TemplateForDotNetProject/ExamenFinal/ExamenFinal.Domain/obj
/MyProjects/DotNet/TemplateForDotNetProject/ExamenFinal/ExamenFinal.Service/bin
/MyProjects/DotNet/TemplateForDotNetProject/ExamenFinal/ExamenFinal.Service/obj
/MyProjects/DotNet/TemplateForDotNetProject/ExamenFinal/ExamenFinal.Web/bin
/MyProjects/DotNet/TemplateForDotNetProject/ExamenFinal/ExamenFinal.Web/obj
/MyProjects/Summer2018-2019/RankMe/RankMe-ear/target
/MyProjects/Summer2018-2019/RankMe\RankMe-ejb/target
/MyProjects/Summer2018-2019/RankMe/RankMe-web/target
/MyProjects/Summer2018-2019/RankMeClient/target